/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css2?family=Georgia');


.distill-site-nav {
    font-family: 'Georgia', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(22, 75, 83);
    font-size: 20px;
    font-weight: 300;
}

.distill-site-header {
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.distill-site-footer {
    display: inline-block; 
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
}


/* Use specific font in the body of the text */
html, body, p {
    font-family: 'Georgia', serif;
    font-weight: 200;
    line-height: 1.3; 
    font-size: 1.075em;
    font-style: normal;
    
}


@media only screen and (max-width: 100px) {
  d-title{
    #background-image: url('img/logo_mu.png');
    background-repeat: no-repeat;
    background-position: 105% 70%;
  }
}



@media only screen and (min-width: 50px) {
  d-title{
    #background-image: url('img/logo_mu.png');
    background-repeat: no-repeat;
    background-position: 78% 70%;
    background-size: 424px 158px;
  }
}


img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.waterbg
      {
        position: relative;
        top: 0;
        left: 0;
      }
.hamlogo
      {
        width: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5px;
        right: 0; 
      }